# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Vercel deployment files (optional)
.vercel/

# Build outputs
dist/
build/

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac system files
*.swp
*.swo

reset_guests.js